.about-project {
	padding-top: 78px;
	background-color: var(--gray-800);
	overflow: auto;

	&__inner {
		max-width: 1080px;
		margin: 0 auto;
	}

	.heading_level_2 {
		margin-bottom: 40px;
	}

	.link {
		margin: 0 auto;
	}
}

@media (max-width: 999px) {
	.about-project {
		padding-top: 60px;
	}
}
