.advantages-block {
	padding-bottom: 192px;
	background-color: var(--gray-100);

	.heading {
		margin-bottom: 74px;
	}

	.button {
		margin: 0 auto;
	}
}

@media (max-width: 999px) {
	.advantages-block {
		padding-bottom: 80px;
	}
}
