.advantages-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 830px;
	margin: 0 auto 36px;

	&__item {
		flex-basis: 50%;
		flex-shrink: 0;
		margin-bottom: 44px;
		padding-right: 65px;
	}
}

@media (max-width: 999px) {
	.advantages-list {
		&__item {
			flex-basis: 100%;
			margin-bottom: 30px;
			padding-right: 0;
		}
	}
}
