.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 74px;
	padding: 0 62px;
	background-color: var(--primary);
	border: none;
	border-radius: 10px;
	color: var(--white);
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.2s;

	&__icon {
		flex-shrink: 0;
		width: 25px;
		height: 25px;
		margin-right: 15px;
	}

	&:hover,
	&:focus {
		background-color: var(--hover);
		outline: none;
	}

	&:active {
		background-color: var(--active);
	}

	&_size {
		&_small {
			min-height: 48px;
			padding: 0 30px;
			font-size: 16px;
			font-weight: normal;
		}
	}
}

@media (max-width: 999px) {
	.button {
		padding: 0 30px;

		&_size {
			&_small {
				padding: 0 20px;
			}
		}
	}
}

@media (max-width: 690px) {
	.button {
		min-height: 70px;
		padding: 0 15px;

		&_size {
			&_small {
				padding: 0 10px;
			}
		}
	}
}
