.card-annotation {
	display: flex;
	flex-direction: column;
	width: 410px;
	margin: 40px 40px 40px auto;
	padding: 33px 29px 42px;
	background-color: var(--gray-900-a88);
	border-radius: 10px;
}

@media (max-width: 999px) {
	.card-annotation {
		width: 300px;
		margin: 20px 20px 20px auto;
	}
}
