.card-block {
	padding-bottom: 142px;
	background-color: var(--gray-800);

	&__inner {
		display: flex;
		height: 640px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

@media (max-width: 999px) {
	.card-block {
		padding-bottom: 80px;

		&__inner {
			height: 500px;
		}
	}
}

@media (max-width: 540px) {
	.card-block {
		.card-annotation {
			margin-right: auto;
			margin-left: auto;
		}
	}
}
