.contacts-block {
	&__heading {
		margin-bottom: 30px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		column-gap: 20px;
	}
}

@media (max-width: 699px) {
	.contacts-block {
		&__inner {
			flex-direction: column;
		}
	}
}
