.development-programs-block {
	margin-top: 128px;
	margin-bottom: 75px;

	.heading_level_1 {
		margin-bottom: 35px;
	}
}

@media (max-width: 699px) {
	.development-programs-block {
		margin-top: 80px;
	}
}
