.heading {
	display: block;
	margin-top: 0;
	text-align: center;

	&_1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.13;
  }

  &_2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.33;
  }

	&_color {
		&_white {
			color: var(--white);
		}

		&_black {
			color: var(--black);
		}
	}
}
