.hidden-block {
	display: none;
	margin-top: 85px;

	&_opened {
		display: block;
	}
}

.hide-button {
	&::before {
		content: 'Развернуть';
	}

	&_opened {
		&::before {
			content: 'Свернуть';
		}
	}
}
