.icons-list {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 999px) {
	.icons-list {
		flex-wrap: wrap;
		justify-content: center;

		&__item {
			flex-basis: 33.3333%;
		}
	}
}

@media (max-width: 540px) {
	.icons-list {
		&__item {
			flex-basis: 50%;
		}
	}
}

@media (max-width: 400px) {
	.icons-list {
		&__item {
			flex-basis: 100%;
		}
	}
}
