.icon-link {
	display: inline-flex;
	align-items: center;
	color: var(--black);
	font-size: 14px;
	text-decoration: none;

	&__icon {
		flex-shrink: 0;
		width: 18px;
		height: 18px;
		margin-right: 6px;
		color: var(--primary);
	}

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&_color {
		&_white {
			color: var(--white);
		}

		&_total-white {
			color: var(--white);

			.icon-link__icon {
				color: var(--white);
			}
		}
	}

	&_size_big {
		font-size: 16px;
		line-height: 1.5;

		.icon-link__icon {
			width: 80px;
			height: 80px;
			margin-right: 28px;
		}
	}
}
