.language {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 32px;
	padding: 4px 6px;
	cursor: pointer;
	text-decoration: none;

	&__text {
		display: block;
		color: var(--white);
		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
	}

	&:hover {
		background-color: var(--primary);
	}
}
