.language-selector {
	position: relative;
	margin-right: 18px;

	&__current {
		border: 1px solid var(--white);
		// border-radius: 5px;
		overflow: hidden;
	}

	.language-list {
		position: absolute;
		top: calc(100% - 1px);
		left: 0;
		transform-origin: top center;
		transform: scaleY(0);
		transition: transform 0.2s ease;

		border-color: var(--white);
		border-width: 0 1px 1px 1px;
		border-style: solid;
	}

	&_opened {
		.language-selector__current {
			border-bottom-color: transparent;
		}

		.language-list {
			transform: scaleY(1);
		}
	}
}
