.language {
	display: flex;
	align-items: center;
	padding: 4px 6px;
	cursor: pointer;

	&__text {
		display: block;
		color: var(--white);
		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
	}
}
