.language-selector {
	display: inline-block;
	position: relative;
	margin-right: 18px;

	&__current {
		border: 1px solid var(--white);
		border-radius: 5px;
		overflow: hidden;
	}

	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		top: 50%;
		right: -16px;
		width: 8px;
		height: 8px;
		border-right: 2px solid var(--white);
		border-bottom: 2px solid var(--white);
		transform: translateY(-70%) rotate(45deg);
		cursor: pointer;
	}

	.language-list {
		position: absolute;
		top: calc(100% - 1px);
		left: 0;
		border-color: var(--white);
		border-width: 0 1px 1px 1px;
		border-style: solid;
		transform-origin: top center;
		transform: scaleY(0);
		transition: transform 0.2s ease;
	}

	&_opened {
		.language-selector__current {
			border-bottom-color: transparent;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		.language-list {
			transform: scaleY(1);
		}
	}
}
