.link {
	font-size: 14px;
	color: var(--white);
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&_color {
		&_primary {
			color: var(--primary);
		}
	}

	&_size {
		&_big {
			font-size: 20px;
		}
	}
}
