.link {
	padding: 0;
	font-size: 14px;
	background-color: transparent;
	border: none;
	color: var(--white);
	text-decoration: none;
	cursor: pointer;
	font-family: var(--Roboto);

	&:hover,
	&:focus {
		text-decoration: underline;
		outline: none;
	}

	&_color {
		&_primary {
			color: var(--primary);

			&:hover,
			&:focus {
				color: var(--hover);
			}

			&:active {
				color: var(--active);
			}
		}
	}

	&_size {
		&_medium {
			font-size: 16px;
			font-weight: 700;
		}

		&_big {
			font-size: 20px;
		}
	}

	&_underlined {
		text-decoration: underline;
	}
}
