.link {
	font-size: 14px;
	color: var(--white);
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&_color {
		&_primary {
			color: var(--primary);

			&:hover,
			&:focus {
				color: var(--hover);
			}

			&:active {
				color: var(--active);
			}
		}
	}

	&_size {
		&_big {
			font-size: 20px;
		}
	}

	&_underlined {
		text-decoration: underline;
	}
}
