.links-swiper {
	padding-top: 88px;
	background-color: var(--gray-800);

	&__inner {
		&.swiper-container {
			margin: 0 67px;
		}
	}

	.swiper-wrapper {
		align-items: flex-end;
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: 55%;
		width: 54px;
		height: 54px;
		border-radius: 50%;
		color: var(--white);

		&::after {
			font-size: 20px;
		}

		&:hover {
			background-color: var(--gray-700);
		}
	}

	.swiper-button-prev {
		left: 20px;
	}

	.swiper-button-next {
		right: 20px;
	}
}

@media (max-width: 999px) {
	.links-swiper {
		padding-top: 60px;
	}
}

@media (max-width: 699px) {
	.links-swiper {
		&__inner {
			&.swiper-container {
				margin: 0;
			}
		}
		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
	}
}
