.official-sources {
	padding-top: 50px;
	padding-bottom: 55px;
	border-bottom: 1px solid var(--gray-600-a50);

	&__inner {
		display: flex;
	}

	&__item {
		flex-basis: 33.3333%;

		&:nth-last-child(n + 2) {
			padding-right: 30px;
		}
	}
}

@media (max-width: 999px) {
	.official-sources {
		&__inner {
			flex-direction: column;
		}

		&__item {
			flex-basis: 100%;
			margin-bottom: 15px;
		}
	}
}
