.print-block {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 88px;
}

@media (max-width: 699px) {
	.print-block {
		margin-top: 40px;
		margin-bottom: 60px;
	}
}

@media print {
	.print-block {
		display: none;
	}
}
