.user-content {
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;

	h2 {
		display: block;
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 36px;
		line-height: 1.33;
		font-weight: bold;
		text-align: center;
	}

	h3 {
		display: block;
		margin-top: 0;
		margin-bottom: 15px;
		font-weight: bold;
		font-size: 18px;
		line-height: 1.33;
		text-align: left;
	}

	p {
		margin-top: 0;
		margin-bottom: 30px;
		line-height: 22px;
	}

	ul {
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 34px;
	}

	li {
		&::before {
			content: '';
			display: inline-block;
			width: 7px;
			height: 7px;
			margin-right: 18px;
			background-color: var(--primary);
			border-radius: 50%;
			vertical-align: middle;
		}

		&:nth-last-child(n + 2) {
			margin-bottom: 10px;
		}
	}

	.list-with-icons {
		li::before {
			display: none;
		}

		svg {
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-right: 13px;
			color: var(--primary);
			vertical-align: middle;
		}
	}

	&__white {
		color: var((--white));
	}
}

@media print {
	.user-content {
		max-width: 100%;
	}
}
