mixin about-project(props = {})
  include heading
  include link
  include list
  include contacts-block

  section.about-project#about-project&attributes(attributes)
    .container
      article.about-project__inner
      .user-content.user-content__white
        h2 О проекте
        p.text-block_align_center Интегрированная региональная информационная система «Инвестиционное развитие территории Ленинградской области» представляет собой интерактивную карту, наглядно демонстрирующую инвестиционные преимущества и возможности Ленинградской области. Проект создан с целью повышения инвестиционной привлекательности Ленинградской области и обеспечения доступа международного сообщества, органов государственной власти, организаций и граждан к полной и актуальной информации о комплексном развитии территории Ленинградской области.
        .d_flex
          +link({tag: 'button', text: ''})(type="button" class="link_color_primary link_size_big link_underlined hide-button")
        .hidden-block
          h3 Цель проекта
          p Обеспечение доступа потенциальных инвесторов, органов государственной власти, юридических и физических лиц к полной и актуальной информации об инвестиционном, инфраструктурном и ресурсном потенциале Ленинградской области для улучшения инвестиционного климата региона.
          h3 Возможности
          p Система позволяет получить визуальную информацию о ресурсном и инфраструктурном потенциале области, местоположении и характеристиках инвестиционных объектов, земельных ресурсах и кадастровом делении территории, осуществить подбор участков, наиболее приспособленных для реализации того или иного инвестиционного проекта, ознакомиться с планами органов власти и субъектов естественных монополий по созданию объектов инженерной и транспортной инфраструктуры.'
          +list({
            items: [
              {
                iconId: 'list-factory',
                text: 'Индустриальные парки',
              },
              {
                iconId: 'list-pin',
                text: 'Свободные инвестиционные площадки',
              },
              {
                iconId: 'list-factory-2',
                text: 'Моногорода и ТОСЭР',
              },
              {
                iconId: 'list-rubl',
                text: 'Инвестиционные проекты',
              },
              {
                iconId: 'list-diagram',
                text: 'Объекты программ развития',
              },
              {
                iconId: 'list-area',
                text: 'Земельные участки в аренду',
              },
              {
                iconId: 'list-house',
                text: 'Муниципальные образования',
              },
              {
                iconId: 'list-pin-2',
                text: 'Генеральные планы',
              },
            ]
          })(class="list_color_white")
          p Каждый из объектов системы имеет текстовое описание и отображение на карте. Картографические данные представлены в блоке «Информационные слои».
          h3 Пользователю доступны следующие возможности при работе с системой:
          ul
            li Навигация по карте и изменение масштабов отображения;
            li Просмотр сведений о выбранном инвестиционном объекте, объекте инженерной и транспортной инфраструктуры;
            li Отображение публичных картографических сервисов в качестве базовой подложки, например, Яндекс.Карты;'
            li Отображение спутниковых снимков из публичных картографических сервисов;
            li Просмотр схем инвестиционных площадок и индустриальных парков;
            li Оценка существующей инфраструктуры индустриального парка, инвестиционной площадки;
            li Просмотр планов развития инфраструктуры на территории инвестиционной площадки или в ближайшей доступности
            li Просмотр генеральных планов поселений;
            li Поиск реализуемых (реализованных или планируемых) инвестиционных проектов;
            li Подбор инвестиционных объектов по индивидуальным критериям;
            li Просмотр информации о предлагаемых мерах поддержки (льготах) на территории Ленинградской области;
            li Передача заявки на размещение производства;
            li Запрос дополнительной информации у оператора системы;
            li Выгрузка данных в форматах excel и pdf;
            li Получение ссылки на выбранный объект или область карты;
            li Сохранение области карты в виде изображения;
            li Печать выбранной области карты;
            li Использование подсказок и графических инструкций;
            li Измерение расстояний, площадей.
          p В 2017 году осуществлена интеграция сведений об инвестиционных объектах из ИРИС c геоинформационной системой «Фонд пространственных данных Ленинградской области»
          p В 2018 году осуществлен перевод ИРИС на HTML5, обновлена система управления пространственными данными, созданы адаптивные версии для планшетов и смартфонов.
          p В 2019 году осуществлена интеграция генеральных планов поселений из геоинформационной системы «Фонд пространственных данных Ленинградской области» в ИРИС. Для подбора инвестором свободных инвестиционных площадок разработан пошаговый фильтр. В магазинах приложений AppStore и Google Play опубликованы приложения адаптивной версии Карты ИРИС для смартфонов.
          h3 Доступ к системе бесплатный 24 часа в сутки 7 дней в неделю.
          p Представление доступа к информации ограниченного распространения, содержащейся в Системе, осуществляется в соответствие с Приказом Комитета экономического развития и инвестиционной деятельности Администрации Ленинградской области от «23» апреля 2014 г. № 15 «Об установлении разграничения прав доступа к информации при ведении Интегрированной региональной информационной системы «Инвестиционное развитие территории Ленинградской области».
          p В настоящее время система не имеет аналогов в России по составу и объему материалов, а также функциональным возможностям. Система отмечена в сборнике успешных практик внедрения регионального инвестиционного стандарта, выпущенного Агентством стратегических инициатив в 2014 году.
          p В 2014 году Интегрированная региональная информационная система «Инвестиционное развитие территории Ленинградской области» стала победителем в номинации «Информатизация» в рамках первого всероссийского конкурса «Лучшие управленческие решения региональных органов власти по развитию инвестиционной среды», проводимого Министерством экономического развития Российской Федерации.
          h3 Контакты
          +contacts-block
          .d_flex
            +link({tag: 'button', text: ''})(type="button" class="link_color_primary link_size_big link_underlined hide-button")
