mixin about-project(props = {})
  include heading
  include link
  include list

  .about-project&attributes(attributes)
    .container
      .about-project__inner
        +heading({
          level: 2,
          text: 'О проекте'
        })(class="heading_color_white")
        +text-block({
          text: 'Интегрированная региональная информационная система «Инвестиционное развитие территории Ленинградской области» представляет собой интерактивную карту, наглядно демонстрирующую инвестиционные преимущества и возможности Ленинградской области. Проект создан с целью повышения инвестиционной привлекательности Ленинградской области и обеспечения доступа международного сообщества, органов государственной власти, организаций и граждан к полной и актуальной информации о комплексном развитии территории Ленинградской области.'
        })(class="text-block_align_center text-block_color_white")
        .d_flex
          +link({component: 'button', text: 'Развернуть'})(class="link_color_primary link_size_big hide-button")
        +heading({level: 3, text: 'Цель проекта'})(class="heading_color_white")
        +text-block({
          text: 'Обеспечение доступа потенциальных инвесторов, органов государственной власти, юридических и физических лиц к полной и актуальной информации об инвестиционном, инфраструктурном и ресурсном потенциале Ленинградской области для улучшения инвестиционного климата региона.'
        })(class="text-block_color_white")
        +heading({level: 3, text: 'Возможности'})(class="heading_color_white")
        +text-block({
          text: 'Система позволяет получить визуальную информацию о ресурсном и инфраструктурном потенциале области, местоположении и характеристиках инвестиционных объектов, земельных ресурсах и кадастровом делении территории, осуществить подбор участков, наиболее приспособленных для реализации того или иного инвестиционного проекта, ознакомиться с планами органов власти и субъектов естественных монополий по созданию объектов инженерной и транспортной инфраструктуры.'
        })(class="text-block_color_white")
        +heading({level: 3, text: 'В системе представлены следующие разделы:'})(class="heading_color_white")
        +list({
          items: [
            {
              iconId: 'list-factory',
              text: 'Индустриальные парки',
            },
            {
              iconId: 'list-pin',
              text: 'Свободные инвестиционные площадки',
            },
            {
              iconId: 'list-factory-2',
              text: 'Моногорода и ТОСЭР',
            },
            {
              iconId: 'list-rubl',
              text: 'Инвестиционные проекты',
            },
            {
              iconId: 'list-diagram',
              text: 'Объекты программ развития',
            },
            {
              iconId: 'list-area',
              text: 'Земельные участки в аренду',
            },
            {
              iconId: 'list-house',
              text: 'Муниципальные образования',
            },
            {
              iconId: 'list-pin-2',
              text: 'Генеральные планы',
            },
          ]
        })(class="list_color_white")
        +text-block({
          text: 'Каждый из объектов системы имеет текстовое описание и отображение на карте. Картографические данные представлены в блоке «Информационные слои».'
        })(class="text-block_color_white")
        +heading({level: 3, text: 'Пользователю доступны следующие возможности при работе с системой:'})(class="heading_color_white")
        +list({
          items: [
            'Навигация по карте и изменение масштабов отображения;',
            'Просмотр сведений о выбранном инвестиционном объекте, объекте инженерной и транспортной инфраструктуры;',
            'Отображение публичных картографических сервисов в качестве базовой подложки, например, Яндекс.Карты;',
            'Отображение спутниковых снимков из публичных картографических сервисов;',
            'Просмотр схем инвестиционных площадок и индустриальных парков;',
            'Оценка существующей инфраструктуры индустриального парка, инвестиционной площадки;',
            'Просмотр планов развития инфраструктуры на территории инвестиционной площадки или в ближайшей доступности;',
            'Просмотр генеральных планов поселений;',
            'Поиск реализуемых (реализованных или планируемых) инвестиционных проектов;',
            'Подбор инвестиционных объектов по индивидуальным критериям;',
            'Просмотр информации о предлагаемых мерах поддержки (льготах) на территории Ленинградской области;',
            'Передача заявки на размещение производства;',
            'Запрос дополнительной информации у оператора системы;',
            'Выгрузка данных в форматах excel и pdf;',
            'Получение ссылки на выбранный объект или область карты;',
            'Сохранение области карты в виде изображения;',
            'Печать выбранной области карты;',
            'Использование подсказок и графических инструкций;',
            'Измерение расстояний, площадей.',
          ]
        })(class="list_color_white")
        +text-block({
          text: 'В 2017 году осуществлена интеграция сведений об инвестиционных объектах из ИРИС c геоинформационной системой «Фонд пространственных данных Ленинградской области»'
        })(class="text-block_color_white")
        +text-block({
          text: 'В 2018 году осуществлен перевод ИРИС на HTML5, обновлена система управления пространственными данными, созданы адаптивные версии для планшетов и смартфонов.'
        })(class="text-block_color_white")
        +text-block({
          text: 'В 2019 году осуществлена интеграция генеральных планов поселений из геоинформационной системы «Фонд пространственных данных Ленинградской области» в ИРИС. Для подбора инвестором свободных инвестиционных площадок разработан пошаговый фильтр. В магазинах приложений AppStore и Google Play опубликованы приложения адаптивной версии Карты ИРИС для смартфонов.'
        })(class="text-block_color_white")
        +heading({level: 3, text: 'Доступ к системе бесплатный 24 часа в сутки 7 дней в неделю.'})(class="heading_color_white")
        +text-block({
          text: 'Представление доступа к информации ограниченного распространения, содержащейся в Системе, осуществляется в соответствие с Приказом Комитета экономического развития и инвестиционной деятельности Администрации Ленинградской области от «23» апреля 2014 г. № 15 «Об установлении разграничения прав доступа к информации при ведении Интегрированной региональной информационной системы «Инвестиционное развитие территории Ленинградской области».'
        })(class="text-block_color_white")
        +text-block({
          text: 'В настоящее время система не имеет аналогов в России по составу и объему материалов, а также функциональным возможностям. Система отмечена в сборнике успешных практик внедрения регионального инвестиционного стандарта, выпущенного Агентством стратегических инициатив в 2014 году.'
        })(class="text-block_color_white")
        +text-block({
          text: 'В 2014 году Интегрированная региональная информационная система «Инвестиционное развитие территории Ленинградской области» стала победителем в номинации «Информатизация» в рамках первого всероссийского конкурса «Лучшие управленческие решения региональных органов власти по развитию инвестиционной среды», проводимого Министерством экономического развития Российской Федерации.'
        })(class="text-block_color_white")
