mixin about-region(props = {})
  include heading
  include text-block

  section.about-region#about-region&attributes(attributes)
    .container
      article.about-region__inner
        .user-content
          h2 О регионе
          p.text-block_align_center Ленинградская область вместе с Санкт-Петербургом является 2-м по величине потребительским рынком России и одним из крупнейших рынков Европы, совокупное население агломерации составляет около 7,1 млн человек, или 5% населения России.
          p.text-block_align_center Инвестиционные проекты на территории региона реализуются в следующих отраслях: химическая и пищевая промышленность, производство строительных материалов, лесопромышленный комплекс, машиностроение, металлургическая промышленность, автомобилестроение, транспорт и логистика.
