mixin contacts-block(props = {})
  include contact

  article.contacts-block&attributes(attributes)
    .contacts-block__inner
      +contact({
        forWhom: 'Для инвесторов:',
        name: 'Государственное казенное учреждение «Агенство экономического развития Ленинградской области»',
        adress: '195112, Санкт-Петербург Малоохотский пр., 64 Б, оф. 402',
        phone: {
          href: 'tel:78126440123',
          text: '644-01-23'
        },
        mail: {
          href: 'mailto:invest@lenreg.ru',
          text: 'invest@lenreg.ru',
        }
      })
      +contact({
        forWhom: 'По вопросам работы ИРИС:',
        name: 'Комитет экономического развития и инвестиционной деятельности Ленинградской области',
        adress: 'Корякин Сергей Николаевич - референт заместителя Председателя Правительства Ленинградской области',
        phone: {
          href: 'tel:78126114982',
          text: '611-49-82'
        },
        mail: {
          href: 'mailto:sn_korjakin@lenreg.ru',
          text: 'sn_korjakin@lenreg.ru',
        }
      })
