mixin contact(props = {})
  include icon-link
  include text-block

  - const { forWhom, name, adress, phone, mail } = props;

  .contact&attributes(attributes)
    p= forWhom
    p= name
    p= adress
    +icon-link({
      iconId: 'phone',
      href: phone.href,
      text: phone.text,
    })(class="icon-link_color_white contact__link")
    +icon-link({
      iconId: 'mail',
      href: mail.href,
      text: mail.text,
    })(class="icon-link_color_white contact__link")
