mixin copyright(props = {})

  span.copyright&attributes(attributes)
    |© 2020  Комитет экономического развития и инвестиционной деятельности Ленинградской области Инвестиции в Ленинградскую область
