mixin development-programs-block(props = {})
  include heading
  include development-programs-group

  .development-programs-block&attributes(attributes)
    .container
      +heading({level: 1, text: 'Программы развития'})
      +development-programs-group({
        heading: 'Государственные программы Российской Федерации',
        items: [
          {
            text: 'Государственная программа Российской Федерации "Развитие транспортной системы" (ФЦП "Развитие транспортной системы России (2010-2020 годы))',
            iconId: 'zip',
          },
          {
            text: 'Схема и программа развития Единой энергетической системы России на 2017-2023 годы',
            iconId: 'pdf',
          },
        ]
      })
      +development-programs-group({
        heading: 'Государственные программы Ленинградской области',
        items: [
          {
            text: 'Государственная программа Ленинградской области "Развитие автомобильных дорог Ленинградской области"',
            iconId: 'zip',
          },
          {
            text: 'Государственная программа Ленинградской области "Обеспечение устойчивого функционирования и развития коммунальной и инженерной инфраструктуры и повышение энергоэффективности в Ленинградской области"',
            iconId: 'pdf',
          },
          {
            text: 'Государственная программа "Развитие сельского хозяйства Ленинградской области" ',
            iconId: 'zip',
          },
        ]
      })
      +development-programs-group({
        heading: 'Прочие',
        items: [
          {
            text: 'Инвестиционная программа ПАО «ФСК ЕЭС» на 2016-2020 годы',
            iconId: 'zip',
          },
          {
            text: 'Инвестиционная программа ПАО "Ленэнерго" на 2016-2020 годы',
            iconId: 'pdf',
          },
          {
            text: 'Генеральная схема размещения объектов электроэнергетики до 2035 года',
            iconId: 'zip',
          },
          {
            text: 'Схема и программа развития электроэнергетики Ленинградской области на 2017-2021 годы',
            iconId: 'zip',
          },
          {
            text: 'Инвестиционная программа АО «ЛОЭСК» на 2015-2019 годы (корректировка ИП 2016-2017 годы)',
            iconId: 'xls',
          },
          {
            text: 'Программа газификации АО "Газпром газораспределение Ленинградская область" на 2016-2018 годы',
            iconId: 'zip',
          },
          {
            text: 'Программа газификации ООО "Петербурггаз" объектов жилищно-коммунального хозяйства, расположенных на территории Ленинградской области на 2017-2019 годы (с перспективой до 2021 года)',
            iconId: 'zip',
          },
        ]
      })
