mixin header(props = {})
  include logo
  include main-menu
  include user-menu
  include language-selector

  .header&attributes(attributes)
    .container
      .header__inner
        +logo
        +main-menu({
          items: [
            {
              text: 'О проекте',
              href: '#about-project'
            },
            {
              text: 'О регионе',
              href: '#about-region'
            },
            {
              text: 'Программа развития',
              href: '/development-programs.html'
            },
          ]
        })
        +user-menu({
          items: [
            {
              text: 'Войти',
              href: '/signin',
              iconId: 'user'
            },
          ]
        })
        +language-selector
