extends ../components/page
include ../components/development-programs-block
include ../components/button
include ../components/print-block


block head
  title Программы развития

block content
  main
    +development-programs-block
    .container
      .user-content
        p.
          Инвестиционная программа в сфере теплоснабжения АО «Газпром теплоэнерго» (филиал в Ленинградской области) на территории Тихвинского городского поселения Тихвинского муниципального района Ленинградской области на 2016-2018 годы
        p.
          Инвестиционная программа ЗАО «Сосновоагропромтехника» в сфере теплоснабжения на 2014-2017 годы
        p.
          Инвестиционная программа ОАО "Теплосеть Санкт-Петербурга" на период 2016-2018 годы на территории Ленинградской области (МО "Муринское сельское поселение", МО "Новодевяткинское сельское поселение", МО "Заневское сельское поселение")
        p.
          Инвестиционная программа ООО «Аква норд-Вест» по реконструкции выделенной системы теплоснабжения МО «Кузьмоловское городское поселение» Всеволожского муниципального района Ленинградской области на среднесрочный перспективный период 2013-2018 годов
        p.
          Инвестиционная программа по реконструкции (модернизации) системы теплоснабжения Тосненского муниципального района Ленинградской области на 2013-2022 годы
        p.
          Инвестиционная программа по реконструкции системы теплоснабжения Волосовского муниципального района Ленинградской области на перспективный период 2013-2023 годы
        p.
          Инвестиционная программа филиала ПАО «ОГК-2» - Киришская ГРЭС по технологическому обеспечению ООО «КИНЕФ» паром 7,0 МПа от части ТЭЦ Киришской ГРЭС
        p.
          Инвестиционная программа ООО «Лемэк» по реконструкции наружных сетей и котельной в поселке Новоселье на долгосрочный перспективный период 2015-2022 годов
        p.
          Инвестиционная программа АО «Коммунальные системы Гатчинского района» Гатчинского муниципального района на период 2013-2022 годов
    +print-block
