extends ../components/page
include ../components/hero-block
include ../components/advantages-block
include ../components/about-region
include ../components/icons-block
include ../components/card-block
include ../components/place-production

block head
  title Главная страница
  link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap&subset=latin&subset=cyrillic" rel="stylesheet")

block content
  +header
  main
    +hero-block
    +place-production
    +icons-block
    +card-block
    +about-region
    +advantages-block
