.container {
	position: relative;
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 20px;
}

@media (max-width: 1329px) {
	.container {
		max-width: 1000px;
	}
}

@media (max-width: 999px) {
	.container {
		max-width: 700px;
	}
}

@media (max-width: 699px) {
	.container {
		max-width: 540px;
	}
}

@media (max-width: 540px) {
	.container {
		padding: 0 15px;
	}
}
