:root {
	--white: #ffffff;
	--black: #000000;

	--primary: #0783fd;
	--primary-dark: #024788;
	--hover: #3ea0fe;
	--active: #006ed8;

	--gray-100: #f0f0f0;
	--gray-400: #a7a8ab;
	--gray-500: #707070;
	--gray-600: #576067;
	--gray-700: #393c41;
	--gray-800: #2a2b2d;
	--gray-900: #283138;

	--gray-900-a88: rgba(40, 49, 56, 0.88);
	--gray-600-a50: rgba(87, 96, 103, 0.5);

	--Roboto: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
