:root {
	--white: #ffffff;
	--black: #000000;

	--primary: #0783fd;
	--action: #3ea0fe;

  --gray-100: #f0f0f0;
  --gray-400: #a7a8ab;
  --gray-600: #576067;

  --gray-800: #2a2b2d;

  --gray-600a50: rgba(87, 96, 103, 0.5);

	--Roboto: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
